.container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* height: 100vh; */
}

.container-portfolio h1 {
  margin-bottom: 20px;
}

.portfolio-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(25,25,25);
    border-radius: 15px;
    margin-bottom: 20px;
    /* border: 2px solid #ccc;
    border-radius: 10px; */
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(35,35,35);
}

.portfolio-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.portfolio-item h4 {
    font-size: 2vw;
    margin-bottom: 10px;
}

.porfolio-item h4 a {
    text-decoration: none;
    color: white;
}

.portfolio-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-images img{
    width: 30vw;
    margin: 10px;
}

.project-description {
    font-size: 1.5vw;
    padding: 1vw;
}

@media screen and (max-width: 768px) {
    .container-portfolio {
        padding: 0px;
        max-width: 100vw;
        margin: 0px;
    }
    .portfolio-section{
        width: 100vw;
        margin: 0px;
        border-radius: 0px;
    }

    .portfolio-item {
        width: 90vw;
        border-radius: 0px;
        margin: 5px;
    }

    .portfolio-item-content {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item h4 {
        font-size: 4vw;
    }

    .project-description {
        font-size: 3vw;
    }

    .portfolio-images img{
        width: 80vw;
    }

    .portfolio-item-content a {
        display: block;
        text-align: center;
        margin: 10px 0;
        font-size: 3.5vw;
        font-weight: bolder;
    }
    
}